---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Y1meMfRkoP0LOy0ujukxwooc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2J46dDKv5fAOif\",\n  \"livemode\": false,\n  \"created\":
        1375386194,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"cc_2J46C049GKKFVX\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2018,\n    \"fingerprint\": \"gfUIg2jAhbVuag4A\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Thu, 01 Aug 2013 19:43:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2J46dDKv5fAOif&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_Y1meMfRkoP0LOy0ujukxwooc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2J46VcpkDD2p8l\",\n  \"object\": \"charge\",\n
        \ \"created\": 1375386195,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"fee\": 59,\n  \"fee_details\":
        [\n    {\n      \"amount\": 59,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null,\n      \"amount_refunded\": 0\n    }\n  ],\n  \"card\": {\n    \"id\":
        \"cc_2J46C049GKKFVX\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 8,\n    \"exp_year\": 2018,\n
        \   \"fingerprint\": \"gfUIg2jAhbVuag4A\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n    \"address_line2\":
        null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\":
        null,\n    \"address_country\": null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\":
        null,\n    \"address_zip_check\": null\n  },\n  \"captured\": true,\n  \"failure_message\":
        null,\n  \"failure_code\": null,\n  \"amount_refunded\": 0,\n  \"customer\":
        null,\n  \"invoice\": null,\n  \"description\": \"a valid charge\",\n  \"dispute\":
        null\n}\n"
  recorded_at: Thu, 01 Aug 2013 19:43:15 GMT
recorded_with: VCR 2.5.0
