---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=400000000002&card[exp_month]=8&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Y1meMfRkoP0LOy0ujukxwooc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2JSaXjakooYnhL\",\n  \"livemode\": false,\n  \"created\":
        1375477244,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"cc_2JSame6J879KLs\",\n    \"object\": \"card\",\n
        \   \"last4\": \"0002\",\n    \"type\": \"Visa\",\n    \"exp_month\": 8,\n
        \   \"exp_year\": 2018,\n    \"fingerprint\": \"KYjkJMnWIG2bMV8e\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Fri, 02 Aug 2013 21:00:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_2JSaXjakooYnhL&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_Y1meMfRkoP0LOy0ujukxwooc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined. Your
        request was in test mode, but used a non test card. For a list of valid test
        cards, visit: https://stripe.com/docs/testing.\",\n    \"type\": \"card_error\",\n
        \   \"code\": \"card_declined\",\n    \"charge\": \"ch_2JSaZQ9fa360dd\"\n
        \ }\n}\n"
  recorded_at: Fri, 02 Aug 2013 21:00:46 GMT
recorded_with: VCR 2.5.0
