- @categories.each do |category|
	%article.video_category
		%header
			%h3= link_to category.name.capitalize, category
			.videos.row
			- category.videos.each do |video|
				.video.span2
					= link_to video, nil do
						%img(src="/tmp/#{video.small_cover_url}")